input#datetime-picker {
  width: 350px;
  padding: 10px;
  font-size: 30px;
}

.startBtnTask02 {
  width: 150px;
  padding: 10px;
  font-size: 30px;
}

.timer {
  display: flex;
  gap: 20px;

  margin-top: 30px;

  /* font-size: 32px; */
}
.timer .field {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-transform: uppercase;
}

.field .value {
  font-size: 60px;
}

.fiels .label {
  font-size: 32px;
}

.be_back {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/terminator.png);
}
